<!doctype html>
<head>
  <title>About Us</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/about.css">
</head>

<body class="about"> 
  <header>
    <div class="container">
      <h1 class="logo"></h1>

      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="quiz">Quiz</a></li>
          <li><a href="resources">Resources</a></li>
          <li><a href="about">About</a></li>
        </ul>
      </nav>
    </div>
  </header>

  
  
  <h1>ABOUT US</h1>
  <img src="https://www.uspto.gov/inventors/independent/eye/201308/assets/images/ORGS_large.jpg">
    <br>
    
  <h1>Our Mission</h1>
  <p class = "our_mission">We are three Kode with Klossy scholars that want to bring awareness to evironmental issues in our communities. This website is designed to help you determine how educated you are about current environmental issues. Depending on your answers from that quiz, our website provides helpful resources and recommends ways that you can become more active and help save the Earth. We were curious about how educated people were about the enviornment, which drove us to create this website and quiz. Our mission is to use our coding abilities to connect modern times to modern issues that we have.</p>
     
      
  <div></div>
  <br>
  <br>
  <br>
  <p class = "cece">
    CECE ZINNY 
      <br>
      15 years old, from Wellesley, MA, Sophomore at Milton Academy in Massachusetts. 
    <br>

    </p>
 
  
  
  <p class = "celine">
    CELINE ANYAEGBUNAM
    <br>
    14 years old, from Albany, NY, Sophomore at the Taft School in Connecticut.</p>
  <br>
  
  
  <p class = "hope"> 
    HOPE ZOUZAS
  <br>
  15 years old, from Chelmsford, MA, Sophomore at Chelmsford High School in Massachusetts.
  </p>
    <br>
  </body>
